<!DOCTYPE html>
<html>
	<head>
	<title>{{ tuner_hdid }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}jquery.mobile-1.1.1.min.css" />
	<script src="{{ STATIC_URL }}jquery-1.8.1.min.js"></script>
    <script>
$(document).bind("mobileinit", function(){
  $.extend(  $.mobile , {
    defaultDialogTransition: 'none',
    defaultPageTransition: 'none',
  });
});
    </script>
	<script src="{{ STATIC_URL }}jquery.mobile-1.1.1.min.js"></script>
</head>

<body>
<div data-role="page" id="page" data-add-back-btn="true">
	<div data-role="header">
		<h1>{{ tuner_hdid }}</h1>
	</div>
	<div data-role="content">
		<div class="content-primary">
			<form action="upload" method="POST" enctype="multipart/form-data" data-ajax="false">
                {% csrf_token %}
                <div data-role="fieldcontain">
                    <label for="channels">Channels:</label>
                    <input type="file" id="channels" name="channels" />
                </div>
                <div data-role="fieldcontain">
                    <button type="submit">Upload</button>
                </div>
            </form>
		</div>
	</div>
</div>
</body>
</html>
